@use '../../base/base.scss';


.top {
    height: 5px;
    background-color: base.$primary-color;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 24%;
        padding-left: 130px;
        padding-bottom: 13px;
        padding-top: 10px;
        background-color: base.$primary-color;
        p{
            font-size: 11px;
            color: base.$light-color;
        }
        h1{
            font-size: 17px;
            font-weight: 800;
            color: base.$light-color;
        }
    }


    .menu-content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: right;
        width: 75%;
        background-color: base.$light-color;
        padding: 10px 150px 10px 20px;

        nav {
            text-align: end;
            ul {
                font-size: 12px;
                font-weight: 600;
                list-style: none;
                display: flex;
                gap: 20px;

                li {
                    a{
                        text-decoration: none;
                        color: base.$dark-color;
                        &:hover {
                            color: base.$primary-color;
                        }
                    }
                }

            }
        }
    }

}
